<h1> {{title}} </h1>
<mat-divider></mat-divider>

<div class="container">
  <div fxLayout="row" fxLayoutAlign="center" fxLayout.xs="column" fxLayoutGap="40px">
    <div fxFlex="50" fxLayout="column">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
        <mat-form-field fxFlex="100">
          <mat-label>Super Heroe</mat-label>
          <input matInput type="text" [(ngModel)]="heroe.superhero" required />
        </mat-form-field>

        <mat-form-field fxFlex="100">
          <mat-label>Alter Ego</mat-label>
          <input matInput type="text" [(ngModel)]="heroe.alter_ego" required />
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Primera Aparicion</mat-label>
        <input matInput type="text" [(ngModel)]="heroe.first_appearance" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Personajes</mat-label>
        <input matInput type="text" [(ngModel)]="heroe.characters" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Creador</mat-label>
        <mat-select [(ngModel)]="heroe.publisher" required>
          <mat-option *ngFor="let item of credores" [value]="item.id">
            {{ item.desc }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Foto URL</mat-label>
        <input matInput [(ngModel)]="heroe.alt_img" type="url" required />
      </mat-form-field>

      <br />

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
        <button fxFlex="100" mat-raised-button color="warn" (click)="guardar()">
          <mat-icon>save</mat-icon>
          Guardar
        </button>

        <button *ngIf="heroe.id" fxFlex="100" mat-raised-button (click)="eliminar()">
          <mat-icon><span class="material-symbols-outlined">
            delete_forever
            </span></mat-icon>
          Eliminar
        </button>
      </div>
    </div>
    <div fxFlex="50">
      <img [src]="heroe | imagen" alt="imagen" width="85%" />
    </div>
  </div>
</div>
